secret/setenv.cmd
.idea/
*.iml
.vscode/
target/
node/
node_modules/
dist/
coverage/
HeadlessChrome_81.0.4044_(Windows_10.0.0)/
debug.log
npm-audit.txt
npm-outdated.txt
stats.json
*.p12
secret/.env
/conversion/src/main/resources/*.xml
/conversion/src/main/resources/*.json
/exported-json/
