secret/setenv.cmd
.idea/
*.iml
.vscode/
target/
node/
node_modules/
HeadlessChrome_*/
debug.log
npm-*.txt
stats.json
*.p12
*.pem
.env
/cvtool-backend/dependency-reduced-pom.xml
/cvtool-frontend/dependency-check-report.html
/conversion/src/main/resources/*.xml
/conversion/src/main/resources/*.json
/exported/
