secret/setenv.cmd
.idea/
*.iml
.vscode/
target/
node/
node_modules/
dist/
coverage/
HeadlessChrome_*/
debug.log
npm-audit.txt
npm-outdated.txt
stats.json
*.p12
/conversion/src/main/resources/*.xml
/conversion/src/main/resources/*.json
/exported/
/scripts/.env
