html {
  background: #242424;
  /* TODO
    background-image: linear-gradient(#ccc, #fff);
    height: 100%;
  */
}

/* TODO
.Main {
  background: #242424;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/