<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"
               xmlns="http://ch.qos.logback/xml/ns/logback">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} %-31logger{30} [%20.20thread] %-5level - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="nl.cerios.cvtool" level="INFO"/>

    <!-- set default log level and appender -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>