# minute (0-59),
#   hour (0-23),
#      day of the month (1-31),
#         month of the year (1-12),
#            day of the week (0-6, 0=Sunday)
#               command
12  4  *  *  *  echo "TODO: backup mongodb"
27  3  *  *  *  docker run --rm -it --name certbot --mount source=root_ssl_certs,target=/etc/letsencrypt --mount source=root_webroot,target=/data/letsencrypt --mount source=root_letsencrypt_logs,target=/var/log/letsencrypt --mount source=root_letsencrypt_var,target=/var/lib/letsencrypt certbot/certbot renew --webroot --webroot-path=/data/letsencrypt --quiet && docker restart `docker ps -aq --filter "ancestor=bransom/cvtool"`


docker run --rm -it \
    --name certbot \
    --mount source=root_ssl_certs,target=/etc/letsencrypt \
    --mount source=root_webroot,target=/data/letsencrypt \
    --mount source=root_letsencrypt_logs,target=/var/log/letsencrypt \
    --mount source=root_letsencrypt_var,target=/var/lib/letsencrypt \
    certbot/certbot \
    renew \
    --webroot \
    --webroot-path=/data/letsencrypt \
    --quiet \
    && \
    docker restart `docker ps -aq --filter "ancestor=bransom/cvtool"`
