
SET REDIRECT_CONNECTION_STRING=http://0.0.0.0:80/
SET HTTP_CONNECTION_STRING=https://0.0.0.0:443/?keyStorePath=<PATH_TO_KEY_STORE>&keyStorePassword=<KEY_STORE_PASSWORD>
SET AUTH_CONNECTION_STRING=<OPENID_PROVIDER_URL>/<TENANT_ID>/v2.0?<APP_ID>:<CLIENT_SECRET>
SET MONGO_CONNECTION_STRING=mongodb://<HOST>:27017/<DATABASE>
::SET MONGO_CONNECTION_STRING=mongodb+srv://<USER>:<PASSWORD>@<CLUSTER_URL>/<DATABASE>
