# sudo crontab -e

# minute (0-59),
#   hour (0-23),
#      day of the month (1-31),
#         month of the year (1-12),
#            day of the week (0-6, 0=Sunday)
#               command
52 23  *  *  *  /root/cvtool_delete_retention.sh  > /root/cvtool_delete_retention.log   2>&1
55 23  *  *  *  /root/cvtool_backup_mongodb.sh    > /root/cvtool_backup_mongodb.log     2>&1
58 23  *  *  *  /root/cvtool_backup_cvs.sh        > /root/cvtool_backup_cvs.log         2>&1
27  3  *  *  *  /root/cvtool_renew_certificate.sh > /root/cvtool_renew_certificate.log  2>&1
