# minute (0-59),
#   hour (0-23),
#      day of the month (1-31),
#         month of the year (1-12),
#            day of the week (0-6, 0=Sunday)
#               command
12  4  *  *  *  /root/cvtool_backup.sh
27  3  *  *  *  /root/cvtool_renew_certificate.sh
