@font-face {
    font-family: ValoriFont;
    src: url(Cabin-Bold-TTF.ttf) format("truetype");
}

.cerios {
    color: #e76b24;
}

.valori {
    color: #211a58;
    font-family: ValoriFont, sans-serif;
    font-weight: bold;
}